<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Controle de acesso </title>
</head>
<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: flex-start">
            <a class="navbar-brand">
                <img src="https://img.elo7.com.br/product/original/2D488E7/10-aplique-termocolante-seu-logo-ou-nome-da-loja-7-cm-printable-scrapbook.jpg"
                     width="60" height="60" class="d-inline-block align-top" alt="">
                <span style="font-size: 40px; margin-left: 20px">Controle de Registros</span>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/" style="font-size: 30px">Registros</a>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/camera" style="font-size: 30px">Camera</a>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/cadastro" style="font-size: 30px">Cadastro</a>
            </a>
        </nav>
    </div>
</div>


</body>
</html>
